### dir ###
target/
temp/
logs/
learn-oss/

### file ###
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.project
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/