<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common.head :: commonHeader('404')" />

<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>
        <div class="error-desc">
            抱歉，页面好像去无主之地了~
            <br />
            不如返回上一页看看?
            <br />
            <a href="javascript:void(0)" onclick="history.go(-1);" class="btn btn-primary m-t">返回上一页</a>
        </div>
    </div>

    <div th:replace="common/common.foot :: commonFoot"></div>

</body>
</html>
