<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/common.head :: commonHeader('empty', '0')" />

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>title</h5>
                    </div>
                    <div class="ibox-content">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="common/common.foot :: commonFoot"></div>
    <div th:replace="common/common.foot :: contentFoot"></div>
    
</body>
</html>
