<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/common.head :: commonHeader(${title}, '0')" />

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
    <div id="wrapper">
        <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <!-- 第一个菜单 -->
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs" style="font-size:20px;">
                                        <i class="fa fa-server"></i>
                                        <strong class="font-bold" th:text="${title}">后台管理系统</strong>
                                    </span>
                                </span>
                            </a>
                        </div>
                        <div class="logo-element"><i class="fa fa-server"></i></div>
                    </li>
                    <li>
                        <a class="J_menuItem" href="#" th:href="${authcPath+'/welcome'}">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                        </a>
                        <ul class="nav nav-second-level"></ul>
                    </li>
                    <!-- 菜单分类
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">分类</span>
                    </li>
                    <li class="line dk"></li>
                    <li>
                        <a href="#">
                            <i class="fa fa fa-bar-chart-o"></i>
                            <span class="nav-label">统计图表</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="graph_echarts.html">百度ECharts</a>
                            </li>
                        </ul>
                    </li>
                    -->
                    
                    <li th:each="m2 : ${menu.childrenList[0].childrenList}">
                        <a href="#">
                            <i th:class="${m2.icon}"></i>
                            <span class="nav-label" th:text="${m2.name}">二级菜单</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level" th:each="m3 : ${m2.childrenList}">
                            <li>
                                <a class="J_menuItem" href="#" th:href="${authcPath+m3.href}" th:text="${m3.name}">三级菜单</a>
                            </li>
                        </ul>
                    </li>
                    
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom" style="height: 50px;">
                <nav id="topNavbar" class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <!-- 右侧顶端 -->
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-info " href="#"><i class="fa fa-bars"></i> </a>
                    </div>
                    <!-- 右侧顶端右边横向菜单 -->
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user"></i><span th:text="${user.name}"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-alerts">
                                <li>
                                    <a class="J_menuItem" href="#" th:href="${authcPath+'/profile'}" onclick="freshenNavbar();">
                                    	<span style="white-space: normal;">
                                            <i class="fa fa-info"></i>&nbsp;个人信息
                                            <span class="pull-right text-muted small">查看或修改</span>
                                    	</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="login.html" th:href="${authcPath+'/logout'}">
                                        <span style="white-space: normal;">
                                            <i class="fa fa-sign-out"></i>&nbsp;注销
                                            <span class="pull-right text-muted small">退出当前用户</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            
            <!-- 右侧主窗体 -->
            <div class="row J_mainContent" id="content-main">
                <iframe id="J_iframe" width="100%" height="100%" src="ie.html" th:src="${authcPath+'/welcome'}" style="border:none" data-id="index_v1.html" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
    
    <div th:replace="common/common.foot :: commonFoot"></div>
    <div th:replace="common/common.foot :: indexFoot"></div>

</body>
</html>
