<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>登&nbsp;录</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="">
<meta name="description" content="">

<link href="favicon.ico" th:href="@{/favicon.ico}" rel="shortcut icon" />
<link href="plugins/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
<link href="css/font-awesome.4.7.0.min.css" th:href="@{/css/font-awesome.4.7.0.min.css}" rel="stylesheet" />
<link href="css/animate.3.5.2.min.css" th:href="@{/css/animate.3.5.2.min.css}" rel="stylesheet" />
<link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />

<style type="text/css">
.errorTip{color:red}
</style>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>
                <h1 class="logo-name">s</h1>
            </div>
            <h3>欢迎使用&nbsp;<span th:text="${name}">后台管理系统</span></h3>

            <form id="inputForm" class="m-t" role="form" th:attr="action=${authcPath+'/login'}" action="#" method="post">
                <div class="form-group">
                    <input name="username" class="form-control" placeholder="用户名" required="" th:value="${username}" />
                </div>
                <div class="form-group">
                    <input id="pwd" name="pwd" type="password" class="form-control" placeholder="密码" required="" />
                    <input type='hidden' name='password' id='md5_pwd' value=''/>
                </div>
                <div class="form-group" id="captchaBox">
                    <input name="captcha" class="form-control" placeholder="验证码" required="" />
                </div>
                <div class="form-group">
                    <span style="float: left; margin: 5px 5px;" >
                        <input id="rememberMe" name="rememberMe" type="checkbox" /> 
                        <label for="rememberMe">记住我</label>
                    </span>
                    <span style="float: right;" id="captchaImgBox">
                        <label for="captchaImg">验证码:&nbsp;</label>
                        <img id='captchaImg' src='/img/captcha.jpg' style="margin: 5px 5px;"/>
                        <a id='captchaReload' href="javascript:void(0)">看不清</a>
                    </span>
                </div>
                <button type="submit" name="login" class="btn btn-primary block full-width m-b">登 录</button>

                <div style="display: none;">
                    <p class="text-muted text-center">
                        <a href="login.html#">
                            <small>忘记密码了？</small>
                        </a>
                        |
                        <a href="register.html">注册一个新账号</a>
                    </p>
                </div>
                
                <div id="messageBox" th:text="${message}" class="errorTip">
                    message
                </div>
                
            </form>
        </div>
    </div>

<!-- 全局js -->
<script src="js/jquery.2.1.4.min.js" th:src="@{/js/jquery.2.1.4.min.js}"></script>
<script src="plugins/jquery-validate/jquery.validate.1.17.0.min.js" th:src="@{/plugins/jquery-validate/jquery.validate.1.17.0.min.js}"></script>
<script src="plugins/bootstrap-3.3.7/js/bootstrap.min.js" th:src="@{/plugins/bootstrap-3.3.7/js/bootstrap.min.js}"></script>
<script src="plugins/md5.js" th:src="@{/plugins/md5.js}"></script>
<script th:inline="javascript">
    if (window.top !== window.self) {
    	window.top.location = window.location;
    }
    
    /*提交时密码进行一次MD5*/
    function checkForm(){
        let input_pwd = document.getElementById('pwd');
        let md5_pwd = document.getElementById('md5_pwd');
        md5_pwd.value = md5(input_pwd.value);    
        return true;
    }
    
    $(document).ready(function() {
        validateForm=$("#inputForm").validate({
        	debug: false,
        	rules:{
        		captcha:{
                	remote:{
                		url:"/img/captcha.jpg",
                		async: true
                	}
        		}
        	},
        	messages:{
        		captcha:{
                	remote:""
        		}
        	},
        	submitHandler: function(form){
        		checkForm();
        		form.submit();
        	},
        	errorContainer: "#messageBox",
        	errorPlacement: function(error, element) {
        	}
        });
        
        /*验证码*/
        $("#captchaBox").css("display","none");
        $("#captchaImgBox").css("display","none");
    	if([[${isCaptchaLogin}]]){
    		$("#captchaBox").css("display","inline");
    		$("#captchaImgBox").css("display","inline");
    	}
    	$("#captchaImg, #captchaReload").on("click", function(){
    		$("#captchaImg").attr("src","/img/captcha.jpg?r=" + parseInt(Math.random() * 100));
    	});
    	
    });
</script>
</body>
</html>
