<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/common/common.css :: commonCssHead(${title}+' - 列表')">
</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
			<div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>所有表单元素 <small>包括自定义样式的复选和单选按钮</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="form_basic.html#">选项1</a>
                                </li>
                                <li><a href="form_basic.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    
                        <!-- 查询条件 -->
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="searchForm" action="#" method="post" class="breadcrumb form-inline">
                                    <div class="form-group"><span>type：</span>
                                        <input class="form-control input-medium" />
                                    </div>
                                    <button  class="btn btn-primary btn-rounded btn-outline btn-sm " onclick="" ><i class="fa fa-search"></i> 查询</button>
                                </form>
                            </div>
                        </div>
                        
						<table id="table"></table>
                    </div>
				</div>
			</div>
		</div>
	</div>


<div th:replace="/common/common.js :: commonJsFooter"></div>
<div th:replace="/common/list.js :: listJsFooter"></div>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/

    $("#table").bootstrapTable({ // 对应table标签的id
        url:  "/a/sys/log/page", // 获取表格数据的url
        method: 'GET', //请求方式
        cache: false, // 设置为 false 禁用 AJAX 数据缓存， 默认为true
        pagination: true, // 在表格底部显示分页组件，默认false
        pageList: [10, 30, 50], // 设置页面可以显示的数据条数
        pageSize: /*[[${pageSize}]]*/ 10, // 页面数据条数
        pageNumber: 1, // 首页页码
        sidePagination: 'server', // 设置为服务器端分页
        striped: true,  //表格显示条纹，默认为false
        uniqueId: "id",////每一行的唯一标识，一般为主键列
        showRefresh: true,                  //是否显示刷新按钮
        showColumns: true,                  //是否显示所有的列（选择显示的列）
        minimumCountColumns: 2,             //最少允许的列数
        showToggle: true,                   //是否显示详细视图和列表视图的切换按钮
        queryParams: function (params) { // 请求服务器数据时发送的参数，可以在这里添加额外的查询参数，返回false则终止请求
            return {
                pageSize: params.limit, // 每页要显示的数据条数
                pageNo: params.offset/params.limit+1, // 每页显示数据的开始行号
                sort: params.sort, // 要排序的字段
                sortOrder: params.order, // 排序规则
                key: params.search,
                sort: params.sort,      //排序列名  
                sortOrder: params.order //排位命令（desc，asc）
                //dataId: $("#dataId").val() // 额外添加的参数
            }
        },
        columns: [
            {
                checkbox: true, // 显示一个勾选框
                valign: 'middle'
            }, {
                field: 'type',
                title: '日志类型',
                align: 'center',
                valign: 'middle',
                formatter: function (value, row, index){ // 单元格格式化函数
                    var text = '-';
                    if (value == 1) {
                    	text = "方式一";
                    } else if (value == 2) {
                    	text = "方式二";
                    } else if (value == 3) {
                    	text = "方式三";
                    } else if (value == 4) {
                    	text = "方式四";
                    } else {
                    	text = value;
                    }
                    return text;
                }
            }, {
                field: 'title',
                title: '日志标题',
                align: 'center',
                valign: 'middle',
                sortable:true
            }, {
                field: 'remote_addr',
                title: '操作IP地址',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'requestUri',
                title: '请求URI',
                align: 'center',
                valign: 'middle'
            }, {
                field: 'method', // 返回json数据中的name
                title: '操作方式', // 表格表头显示文字
                align: 'center', // 左右居中
                valign: 'middle' // 上下居中
            }, {
                field: 'parmas',
                title: '操作提交的数据',
                align: 'center',
                valign: 'middle'
            }
        ],
        onLoadSuccess: function(){  //加载成功时执行
              console.info("加载成功");
        },
        onLoadError: function(){  //加载失败时执行
              console.info("加载数据失败");
		}
    });

/*]]>*/
</script>
</body>

</html>