<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--/* 基础css link取值情况[0:基础, 1:列表, 2:树表] */-->
<head th:fragment="commonHeader(title, link)">
    <title th:text="${title}"></title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <!--[if lt IE 10]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    
    <link href="favicon.ico" th:href="@{/favicon.ico}" rel="shortcut icon" type="image/x-icon"/>
    <link href="plugins/bootstrap-3.3.7/css/bootstrap.min.css" th:href="@{/plugins/bootstrap-3.3.7/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="plugins/font-awesome-4.7.0/css/font-awesome.css" th:href="@{/plugins/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet" />
    <link href="plugins/bootstrap-table/bootstrap-table.min.css" th:href="@{/plugins/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" />
    <link href="css/animate.3.5.2.min.css" th:href="@{/css/animate.3.5.2.min.css}" rel="stylesheet" />
    
    <link href="plugins/chosen_v1.8.7/chosen.min.css" th:href="@{/plugins/chosen_v1.8.7/chosen.min.css}" rel="stylesheet" />
    
    <!--/* 树形列表css */-->
    <link th:if="${link} eq '2'" href="plugins/bootstrap-table/extensions/treegrid/jquery.treegrid.min.css" th:href="@{/plugins/bootstrap-table/extensions/treegrid/jquery.treegrid.min.css}" rel="stylesheet" />
    <!--/* <link th:if="${link} eq '2'" href="plugins/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.css" th:href="@{/plugins/bootstrap-table/extensions/sticky-header/bootstrap-table-sticky-header.css}" rel="stylesheet" /> */-->
    
    <link href="css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

</html>