<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="flotJsFooter">
    
        <!-- Flot 统计图 -->
        <script src="../../../static/common/js/plugins/flot/jquery.flot.js" th:src="@{/webjars/flot/0.8.3/jquery.flot.js}"></script>
        <script src="https://cdn.bootcss.com/flot/0.8.3/jquery.flot.time.js" th:src="@{/webjars/flot/0.8.3/jquery.flot.time.js}"></script>
        <script src="../../../static/common/js/plugins/flot/jquery.flot.tooltip.min.js" th:src="@{/static/common/js/plugins/flot/jquery.flot.tooltip.min.js}"></script>
        <script src="../../../static/common/js/plugins/flot/jquery.flot.resize.js" th:src="@{/webjars/flot/0.8.3/jquery.flot.resize.js}"></script>
        <script src="../../../static/common/js/plugins/flot/jquery.flot.pie.js" th:src="@{/webjars/flot/0.8.3/jquery.flot.pie.js}"></script>
        
    </div>
</body>
</html>