<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="common/common.head :: commonHeader('xxx')" />

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="row animated fadeInRight">
            <div class="col-sm-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>xxx</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- 这里放查询条件输入框 --> </div>
                            <div class="col-sm-12">
                                <table id="contentTable"></table>

                                <div id="toolbar">
                                    <div class="btn-group">
                                        <shiro:hasPermission name="sys:menu:add">
                                            <button class="btn btn-default"> <i class="glyphicon glyphicon-plus"></i>
                                            </button>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="sys:menu:add">
                                            <button class="btn btn-default"> <i class="glyphicon glyphicon-edit"></i>
                                            </button>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="sys:menu:add">
                                            <button class="btn btn-default">
                                                <i class="glyphicon glyphicon-trash"></i>
                                            </button>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="sys:menu:add">
                                            <button class="btn btn-default">
                                                <i class="glyphicon glyphicon-import"></i>
                                            </button>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="sys:menu:add">
                                            <button class="btn btn-default">
                                                <i class="glyphicon glyphicon-export"></i>
                                            </button>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="sys:menu:add">
                                            <button class="btn btn-default">
                                                <i class="glyphicon glyphicon-search"></i>
                                            </button>
                                        </shiro:hasPermission>
                                        <shiro:hasPermission name="sys:menu:add">
                                            <button class="btn btn-default">
                                                <i class="glyphicon glyphicon-repeat"></i>
                                            </button>
                                        </shiro:hasPermission>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="common/common.foot :: commonFoot"></div>
    <div th:replace="common/common.foot :: contentFoot"></div>
    <div th:replace="common/common.foot :: treeListFoot"></div>

    <script type="text/javascript">
    
    $(function(){
        InitMainTable ();
    });
    
    var $table;
    //初始化bootstrap-table的内容
    function InitMainTable () {
        //记录页面bootstrap-table全局变量$table，方便应用
        var queryUrl = '/a/sys/menu/list/data?r=' + Math.random();
        $table = $('#contentTable').bootstrapTable({
            url: queryUrl,  
            method: 'POST', 
            striped: true,
            cache: false,
            pagination: false,
            sidePagination: "server",
            idField: "id",
            showRefresh: true,
            showColumns: true,
            minimumCountColumns: 2,
            toolbar: "#toolbar",
            treeShowField: "name",
            parentIdField: "parentId",
            columns: [{
                checkbox: true,  
                visible: true  
            }, {
                field: "name",
                title: "名称"
            }, {
                field: "href",
                title: "链接"
            }, {
                field: "sort",
                title: "排序"
            }, {
                field: "isShow",
                title: "是否可见",
                formatter: "statusFormatter"
            }, {
                field: "permission",
                title: "权限"
            }, {
                title: "操作",
                formatter: "operateFormatter",
                events: "operateEvents"
            }],
            onLoadSuccess: function () {
                $table.treegrid({
                    initialState: 'collapsed',//收缩
                    treeColumn: 1,//指明第几列数据改为树形
                    expanderExpandedClass: 'glyphicon glyphicon-triangle-bottom',
                    expanderCollapsedClass: 'glyphicon glyphicon-triangle-right',
                    onChange: function() {
                        $table.bootstrapTable('resetWidth');
                    }
                });
            },
            onLoadError: function () {
                layer.msg("数据加载失败！");
            }
        });
    };
    
    // 格式化状态
    function statusFormatter(value, row, index) {
    	if (value === '1') {
    		return '<span>是</span>';
    	} else {
    		return '<span>否</span>';
    	}
    }
 
    
 
    // 按钮添加
    function operateFormatter (value, row, index) {
        return ["&nbsp;<button class='btn btn-warning btn-sm edit'><i class='glyphicon glyphicon-edit'></i></button>&nbsp;", 
        "&nbsp;<button class='btn btn-danger btn-sm del'><i class='glyphicon glyphicon-edit'></i></button>&nbsp;"].join("");
    }
 
    // 按钮事件
    window.operateEvents = {
            'click .edit': function (e, value, row, index) {
                alert(row.id);            
         },
            'click .del': function (e, value, row, index) {
                alert(row.id);            
         }
    };
    
    </script>
</body>
</html>